body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header p {
    text-align: center;
}

.mystery-background {
    background-image: url('7.avif'); 
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

header p {
    font-size: 18px;
    color: #666;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 70%;
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}




#characters {
    text-align: center;
}

.img1, .img2, .img3 {
    display: inline-block;
    margin: 0 20px;
    flex-direction: column;
    align-items: center;
}

.img1 img {
    margin-right: auto; 
}

.img2 img {
    margin: 0 auto; 
}

.img3 img {
    margin-left: auto;
}

#characters img {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 20px; 
}

#characters h2 {
    margin-bottom: 10px;
}
#location img {
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;

}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
}

.buttons {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #999;
}
